@import "tailwindcss";

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  #imageModal {
    background-color: #fcfafaba;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #1a1818;
  }
  #imageModal {
    background-color: #1a1818c8;
  }
}

* {
  font-family: monospace;
}
